*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

.container{
    width: 100%;
    height: 100vh;
    background-color: #5c677d;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator{
    background-color: #001d3d;
    padding: 20px;
    border-radius: 10px;
}

.calculator form input {
    border: 0;
    outline: 0;
    width:60px;
    height:60px;
    border-radius: 10px;
    box-shadow: -8px -8px 15px rgb(225,225,225, 0.1), 5px 5px 15px rgb(0,0,0, 0.2);
    background: transparent;
    font-size:20px;
    color:#d8e2dc;
    cursor:pointer;
    margin: 10px;
}

form .display {
    display: flex;
    justify-content: flex-end;
    margin: 20px 0;
}

form .display input {
    text-align: right;
    flex:1;
    font-size:45px;
    box-shadow:none;
}

form input.equal {
    width: 43%;
}

form input.operator {
    color:#fee440;
}

